h1{
    color: red;
    text-align: center;
}
.header{
    text-align: center;
    position: absolute;
    height: 20%;
    width: 100%;
}
.footer{
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
    text-align: center;
    height: 20%;
    padding-top: 80%;
}

.body{
    position: absolute;
    text-align: center;
    padding-top: 10%;
    height: 60%;
    width: 100%;
}
