h1{
    color: red;
    min-height: 100%;
    padding-bottom: 80%;
}
.header{
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100%;
}
.footer{
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 80%;
}

.body{
    position: absolute;
    text-align: center;

    height: 100px;
    width: 100%;
}
