h1{
    color: red;
    min-height: 100%;
    padding-bottom: 80%;
}
.header{
    margin-left: 50%;
    position: absolute;
    height: 100px;
}
.footer{
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
    margin-left: 50%;
    padding-top: 80%;
}

.body{
    position: absolute;
    margin-left: 50%;
    min-height: 100%;
    margin-bottom: 50%;
    padding-top: 40%;
    padding-bottom: 50%;
}
