h1{
    color: red;
    text-align: center;
}
.header{
    text-align: center;
    position: absolute;
    height: 20%;
    width: 100%;
}
.body{
    position: absolute;
    text-align: center;
    padding-top: 10%;
    height: 60%;
    width: 100%;
}
.footer{
    width: 100%;
    text-align: center;
    height: 20%;
    padding-top: 35%;
}


