<div class="header">
    <h1>Bem vindo ao Cadastro de Usuários -   Data Atual: {{dateMassage}}</h1>
</div>

<div class="body">
    <app-user></app-user>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
