h1{
    color: red;
}
.header{
    margin-left: 50%;
    position: absolute;
}
.footer{
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
    margin-left: 50%;
    padding-top: 20%;
}

.body{
    position: absolute;
    margin-left: 50%;
    min-height: 100%;
    margin-bottom: 50$;
    padding-bottom: -100px;
}
