<div class="container">
<div class="header">
    <app-header></app-header>
</div>

<div>
      <app-sidebar></app-sidebar>
</div>

<div class="body">
    <app-user></app-user>
</div>

<div>
    <app-footer></app-footer>
</div>

</div>
