h1{
    color: red;
}

.footer{
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 500px;
    padding-top: 150px;
}

.body{
    min-height: 100%;
    margin-bottom: 100px;
    padding-bottom: -100px;
}
