<!-- 
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.userService.formUser" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Fullname</label>
        <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formUser.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formUser.fullName.errors">
          <label *ngIf="formUser.fullName.errors.required">This field is required.</label>
          <label *ngIf="formUser.fullName.errors.minlength">Name must be greater than 8 characters</label>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formUser.email.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formUser.email.errors">
          Invalid email address.
        </div>
      </div>

      <div class="form-group">
        <label>Age</label>
        <input formControlName="age" class="form-control">
      </div>

      <div class="form-group">
        <label>Sex</label>
        <input formControlName="sex" class="form-control" [ngClass]="{'is-invalid':submitted && formUser.sex.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formUser.sex.errors">
          This field is required.
        </div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>

      <div class="alert alert-info" *ngIf="showSucessMessage">
        Submitted sucessfully
      </div>
      
    </form> 
    </div>
    <div class="cold-md-7">
      <app-user-list></app-user-list>
    </div>
</div>
    
 -->




 <div>
   
 </div>
