<form class="form-inline">
    <input type="text" class="form-control" name="searchInput" placeHolder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%">
    <button class="btb btb-outline-primary" type="button" (click)="searchText=''"> Filter</button>
    </form>
    <table class="table table-sm">
      <thead>
        <th>Board</th>
        <th>Model</th>
        <th>Color</th>
      </thead>
      <ng-container *ngFor="let vehicle of vehicleArray">
        <tr class="table-dark" *ngIf="filterCondition(vehicle)">
          <td>{{vehicle.board}}</td>
          <td>{{vehicle.model}}</td>
          <td>{{vehicle.color}}</td>
          <td>
              <button class="btn btn-outline-info" type='button' (click)="vehicleService.populateForm(vehicle)">Edit</button>
              <button class="btn btn-outline-danger" type='button'(click)="onDelete(vehicle.$key)">Delete</button>
            </td>
        </tr>
      </ng-container>
      <div class="alert alert-danger" *ngIf="showDeletedMessage">
          Deleted Sucessfully.
        </div>
    </table>
    
    