
<div class="row">
  <div class="col-md-7">
    <form [formGroup]="this.produtoService.formProduto" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id">
      <div class="form-group">
        <label>Nome</label>
        <input formControlName="nome" class="form-control" [ngClass]="{'is-invalid':submitted && formProduto.nome.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formProduto.nome.errors">
          <label *ngIf="formProduto.nome.errors.required">This field is required.</label>
          <label *ngIf="formProduto.nome.errors.minlength">Name must be greater than 8 characters</label>
        </div>
      </div>

<!--       <div class="form-group">
        <label>Name</label>
        <input formControlName="nome" class="form-control" [ngClass]="{'is-invalid':submitted && formProduto.nome.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formProduto.nome.errors">
          Invalid nome address.
        </div>
      </div> -->

      <div class="form-group">
        <label>Price</label>
        <input formControlName="preco" class="form-control">
      </div>

      <div class="form-group">
        <label>Imagem</label>
        <input formControlName="" type="file" class="form-control">
      </div>

      <div class="form-group">
        <label>Restaurante</label>
        <input formControlName="restaurante" class="form-control" [ngClass]="{'is-invalid':submitted && formProduto.restaurante.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formProduto.restaurante.errors">
          This field is required.
        </div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>

      <div class="alert alert-info" *ngIf="showSucessMesspreco">
        Submitted sucessfully
      </div>
      
    </form> 
    </div>
    <div class="cold-md-5">
      <app-produto-list></app-produto-list>
    </div>
</div>

