<div class="container">
<div class="header">
    <!-- <app-header></app-header> -->
    <H1>Bem vindo ao Apptize -   Data Atual: {{dateMassage}}</H1>
    
</div>

<div>
      <app-sidebar></app-sidebar>
</div>

<div class="body">
    <router-outlet></router-outlet>
</div>

<div>
    <app-footer></app-footer>
</div>

</div>
