
.body{
    text-align: center;
    padding-top: 10%;
    height: 60%;
    width: 100%;
}

.h1{
    color: red;
    text-align: center;
    padding-top: 30%;
    height: 60%;
    padding-bottom: 30%;
    width: 100%;
}





