<form class="form-inline">
<input type="text" class="form-control" name="searchInput" placeHolder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%">
<button class="btb btb-outline-primary" type="button" (click)="filterCondition(searchText)"> Filter</button>
</form>
<table class="table table-sm">
  <thead>
    <th>Nome</th>
    <th>Preco</th>
    <th>Restaurante</th>
    <th>Ativo</th>
  </thead>
  <ng-container *ngFor="let produto of produtoArray">
    <tr class="table-dark">
      <td>{{produto.nome}}</td>
      <td>{{produto.preco}}</td>
      <td>{{produto.restaurante}}</td>
      <td>{{produto.ativo}}</td>
      <td>
          <button class="btn btn-outline-info" type='button' (click)="produtoService.populateForm(produto)">Edit</button>
          <button class="btn btn-outline-danger" type='button'(click)="onDelete(produto.id)">Delete</button>
        </td>
    </tr>
  </ng-container>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
      Deleted Sucessfully.
    </div>
</table>

