<div class="row">
    <div class="col-md-5">
      <form [formGroup]="this.vehicleService.formVehicle" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
        <div class="form-group">
          <label>Board</label>
          <input formControlName="board" class="form-control" [ngClass]="{'is-invalid':submitted && formVehicle.board.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formVehicle.board.errors">
            <label *ngIf="formVehicle.board.errors.required">This field is required.</label>
            <label *ngIf="formVehicle.board.errors.minlength">Board must be greater than 7 characters</label>
          </div>
        </div>
  
        <div class="form-group">
          <label>Model</label>
          <input formControlName="model" class="form-control" [ngClass]="{'is-invalid':submitted && formVehicle.model.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formVehicle.model.errors">
              This field is required.
            </div>
        </div>
  
        <div class="form-group">
          <label>Color</label>
          <input formControlName="color" class="form-control" [ngClass]="{'is-invalid':submitted && formVehicle.color.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formVehicle.color.errors">
            This field is required.
          </div>
        </div>
  
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
  
        <div class="alert alert-info" *ngIf="showSucessMessage">
          Submitted sucessfully
        </div>
        
      </form> 
      </div>
      <div class="cold-md-7">
        <app-vehicle-list></app-vehicle-list>
      </div>
  </div>
      
  
  